:root {
  --color-one: #D0A2F7;
  --color-two: #DCBFFF;
  --color-three: #E5D4FF;
  --color-four: #F1EAFF;
  --color-five: rgb(249, 249, 249, 0.7);
}

* {
  box-sizing: border-box;
}

.color-one {
  background-color: var(--color-one);
}

.color-one-hover:hover {
  background-color: var(--color-two);
}

.color-one:active {
  background-color: var(--color-one);
}