:root {
  --color-one: #D0A2F7;
  --color-two: #DCBFFF;
  --color-three: #E5D4FF;
  --color-four: #F1EAFF;
  --color-five: rgb(249, 249, 249, 0.7);
}

.color-one {
  background-color: var(--color-one);
}

.color-one-hover:hover {
  background-color: var(--color-two);
}

.color-one:active {
  background-color: var(--color-one);
}

/* -------- Table ------------- */

.panel{
  padding: 0;
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.08);
}
.panel .panel-heading{
  background: #535353;
  padding: 15px;
}
.panel .panel-heading .total-show{ 
  flex-wrap: nowrap;
}
.panel .panel-heading label{
  color: #fff;
  margin-right: 10px;
}

.panel .panel-body{
  padding: 0;
  border-radius: 0;
}
.panel .panel-body .table thead tr th{
  color: #fff;
  background: #8D8D8D;
  font-size: 17px;
  font-weight: 700;
  padding: 12px;
  border-bottom: none;
}
.panel .panel-body .table thead tr th:nth-of-type(1){ width: 120px; }
.panel .panel-body .table thead tr th:nth-of-type(2){ width: 30%; }
.panel .panel-body .table tbody tr td{
  color: #555;
  background: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 13px;
  vertical-align: middle;
  border-color: #e7e7e7;
}
.panel .panel-body .table tbody tr:nth-child(odd) td{ background: #f5f5f5; }
.panel .panel-body .table tbody .action-list{
  padding: 0;
  margin: 0;
  list-style: none;
}
.panel .panel-body .table tbody .action-list li{ display: inline-block; }
.panel .panel-body .table tbody a, .panel .panel-body .table tbody button{
  font-size: 13px;
}
.panel .panel-body .table tbody .action-list li a:hover{ box-shadow: 0 0 5px #ddd; }
.panel .panel-footer{
  color: #fff;
  background: #535353;
  font-size: 16px;
  line-height: 33px;
  padding: 25px 15px;
  border-radius: 0;
}